{{ define "sections/section" }}
{{ template "header" . }}
<section class="section">
    <nav class="mb-10"><a href="/" class="material-symbols-outlined decoration-none">home</a> / <a href="/sections/{{ .section.ID }}" class="decoration-none">{{ .section.Title }}</a></nav>
    {{ if .session.User }}
        <div><a href="/topics/new?section_id={{ .section.ID }}" class="color-inherit ml-10 material-symbols-outlined button mb-10" title="создать новую тему">add</a></div>
    {{ end }}
    <h1 class="mb-10">{{ .section.Title }}</h1>
    <div class="mb-10">{{ .section.Body }}</div>
    {{ if not .topics }}
    <div class="m-10  text-disabled">Тут пока пусто</div>
    {{ end }}
    {{ range .topics }}
    <a class="color-inherit decoration-none" href="/topics/{{ .ID }}" title="{{ .Body }}">
        <div class="w-100 mb-10 bg-secondary bg-hover-accent p-10 br-10">
            <header class="flex justify-between items-center">
                <span class="truncate">{{ .Title }}</span>
                <time class="ml-10 whitespace-nowrap">{{ timeAgo .UpdatedAt }}</time>
            </header>
            <div class="text-disabled truncate">{{ .Body }}</div>
        </div>
    </a>
    {{ end }}
</section>
{{ template "footer" . }}
{{ end }}