html {
    height: 100%;
    width: 100%;
    background: url(/assets/background/diagmonds.png), var(--background-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: var(--text-color);
}

a {
    color: var(--url-color);
}

a:visited {
    color: inherit;
}

time {
    color: var(--text-color-disabled);
    font-size: 13px;
    width: max-content;
}
