body > header {
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--background-color);
    font-size: 25px;
    padding: 0;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

body > header > a {
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.03s ease-in-out;
    align-content: center;
    line-height: 1;
    color: inherit;
}

body > header > a:hover {
    background-color: var(--background-color-secondary);
}
