.center {
    text-align: center;
}
.content-center {
    align-content: center;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}
.justify-between {
    justify-content: space-between;
}

.w-100 {
    width: 100%;
}
.h-100 {
    height: 100%;
}

.m-10 {
    margin: 10px;
}
.mt-10 {
    margin-top: 10px;
}
.mr-10 {
    margin-right: 10px;
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}
.ml-10 {
    margin-left: 10px;
}
.ml-a {
    margin-left: auto;
}
.p-10 {
    padding: 10px;
}

.text-red {
    color: #ff4136;
}
.text-red:first-letter {
    text-transform: uppercase;
}
.text-red::after{
    content: '.';
}
.text-disabled {
    color: var(--text-color-disabled);
    font-size: 14px;
}
.truncate {
    display: inline-block;
    white-space: nowrap;        
    overflow: hidden;           
    text-overflow: ellipsis;    
    max-width: 100%;               
}

.whitespace-nowrap {
    white-space: nowrap;
}

.decoration-none {
    text-decoration: none;
}

.background-secondary {
    background-color: var(--background-color-secondary);
}